# APP

NODE_ENV="development"
APP_NAME="Chat_Service"
APP_VERSION="1.0.0"
APP_PORT=4002


# REDIS

REDIS_HOST="localhost"
REDIS_PORT=6379


# DATABASE

DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"